            th {
                position: sticky;
                top: 0;
            }
            
            .patient-data td,tr{
                text-align: center;
                -webkit-transition: background-color 0.2s;
                -moz-transition: background-color 0.2s;
                -ms-transition: background-color 0.2s;
                -o-transition: background-color 0.2s;
                transition: background-color 0.2s;
            }

            .patient-data:hover{
                background-color: rgba(100, 192, 228, 0.815);
            }

            .edit-button button, .edit-button a {
                visibility: hidden;
                -webkit-transition: visibility;
                -moz-transition: visibility;
                -o-transition: visibility;
                transition: visibility;
                height: 100%;
                width: 100%;
            }

            .edit-button:hover button,.edit-button:hover a {
                visibility: visible;
            }

            #patient-list-box {
                max-height: 80vh;
                overflow: auto;
            }
            #add-button{
                border-radius: 0;
            }