<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Clinic Manager</title>
        <meta charset="UTF-8">
        <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <style>
        .btn-block{
            width: 33.33%;
            margin-right: -3.33px;
            display: inline-block;
        }
    </style>
    <body>
    <header>
        <a href="/patient"><button id="add-button" type="button" class="btn btn-primary btn-lg btn-block">Add</button></a>
        <a href="/patient-search"><button id="add-button" type="button" class="btn btn-primary btn-lg btn-block">Search</button></a>
        <a href="/patient-delete"><button id="add-button" type="button" class="btn btn-primary btn-lg btn-block">Delete</button></a>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
        <div class="container">
            <a class="navbar-brand" href="http://localhost:8080">Exit</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div id="patient-list-box" th:if="${not #lists.isEmpty(list)}">
            <table id="patient-list" class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">PESEL</th>
                    <th scope="col">Show more data or change it</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="count : ${list}">
                    <td class="patient-data" scope="col" th:text="${count.getId()}">...</td>
                    <td class="patient-data" th:text="${count.getFirstName()}">...</td>
                    <td class="patient-data" th:text="${count.getLastName()}">...</td>
                    <td class="patient-data" th:text="${count.getPesel()}">...</td>
                    <td class="edit-button"><a class="btn btn-info" th:href="@{'/more/' + ${count.getId()}}" role="button">Show more</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>